<ng-container *ngIf="!new ; else show">
  <div class="main">
    <section class="package-configuration">
      <div class="mx-3 mt-3">
        <!-- package Configuration -->
        <p class="h5 lyc-table-heading-font ms-2">Package Configuration</p>

        <div class="container mt-5">
          <!-- Table  -->
          <div class="col-xl-8">
            <a class="btn lyc-config-btn float-end mb-3" (click)="new=true">New</a>

            <table class="table lyc-table">
              <thead class="lyc-table-head">
                <tr>
                  <th></th>
                  <th>Package No</th>
                  <th>Package Name</th>
                  <th>Package Type</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of packagesList">
                  <td>
                    <a (click)="updatePackage(item)">
                      <i class="fa fa-pencil anim" aria-hidden="true"></i>
                    </a>
                    <a class="float-end" (click)="deletePackage(item.packageId)">
                      <i class="fa fa-minus-circle anim" aria-hidden="true"></i>
                    </a>
                  </td>
                  <td>{{item.packageNumber}}</td>
                  <td>{{item.packageName}}</td>
                  <td>{{item.packageType}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</ng-container>
<ng-template #show>
  <div class="main">
    <section class="add-package-configuration">
      <div class="mx-3 mt-3">
        <p class="h5 lyc-table-heading-font ms-2">Package Configuration</p>
        <div class="container">
          <form [formGroup]="appValForm" class="mt-5" autocomplete="off">
            <div class="form-group mt-2 d-flex">
              <label class="label-add-branch col-1 mt-2" for="">Product No</label>
              <input class="input-add-branch col-3 ms-5 form-control" type="text" value="" [readonly]="isUpdatingValue"
                formControlName="packageNumber" name="packageNumber" />
              <label *ngIf="formSubmitted && f.packageNumber.errors?.required" for="floatingInput"
                class="text-danger ms-3 mt-2">
                *Product No. is required
              </label>
            </div>
            <div class="form-group mt-2 d-flex">
              <label class="label-add-branch col-1 mt-2" for="">Product Name</label>
              <input class="input-add-branch col-3 ms-5 form-contsrol" type="text" formControlName="packageName"
                name="packageName" value="" />
              <label *ngIf="formSubmitted && f.packageName.errors?.required" for="floatingInput"
                class="text-danger ms-3 mt-2">
                *Product Name is required
              </label>
            </div>
            <div class="form-group mt-2 d-flex">
              <label class="label-add-branch col-1 mt-2" for="">Package Type</label>

              <select class="form-select shadow-sm bg-white input-add-branch col-3 ms-5 form-control fw-normal" id=""
                aria-label="" formControlName="packageType">
                <option *ngFor="let pt of packageType" [selected]="pt.value == 'selectedPackageType'"
                  [ngValue]="pt.value">
                  {{pt.value}}
                </option>
              </select>
              <label *ngIf="formSubmitted && f.packageType.errors?.required" for="floatingInput"
                class="text-danger ms-3 mt-2">
                *Package Type is required
              </label>
            </div>
            <div class="form-group mt-2 d-flex">
              <label class="label-add-branch col-1 mt-2" for="">Package Cost</label>
              <input class="input-add-branch col-3 ms-5 form-control" type="number" formControlName="packageCost"
                name="packageCost" value="" />
              <label *ngIf="formSubmitted && f.packageCost.errors?.required" for="floatingInput"
                class="text-danger ms-3 mt-2">
                *Package Cost is required
              </label>
            </div>
            <div class="form-group mt-2 d-flex">
              <label class="label-add-branch col-1 mt-2" for="">Duration (Days)</label>
              <input class="input-add-branch col-3 ms-5 form-control" type="number" formControlName="stayPeriodDays"
                name="stayPeriodDays" value="" />
              <label *ngIf="formSubmitted && f.stayPeriodDays.errors?.required" for="floatingInput"
                class="text-danger ms-3 mt-2">
                *Duration is required
              </label>
            </div>

            <!-- Table  -->
            <div class="col-xl-8 mt-4">
              <!-- Button trigger modal -->
              <button type="button" class="btn lyc-config-btn float-end mb-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                New
              </button>
              <!--  Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header bg-dark">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-light outline-0">

                      <div class="row">
                        <div class="col-12">
                          <span class="text-secondary lyc-modal-font">Services</span>
                          <select class="form-select shadow-sm bg-white text-secondary form-control w-75"
                            formControlName="serviceId">
                            <option selected>
                              Select Service
                            </option>
                            <option *ngFor="let sl of serviceList" [ngValue]="sl.serviceId">
                              {{sl.serviceName}}
                            </option>
                          </select>
                        </div>
                        <div class="col-12 mt-4">
                          <span class="text-secondary lyc-modal-font">Qty</span>
                          <input type="text" class="form-control w-75 text-secondary" />
                        </div>
                        <!-- Footer  -->
                        <div class="col-12 mt-4">
                          <button type="button" class="btn lyc-config-btn me-2">
                            Save
                          </button>

                          <button type="button" class="btn lyc-config-btn2 bg-dark" data-bs-dismiss="modal">
                            Cancel
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <table class="table lyc-table">
                <thead class="lyc-table-head">
                  <tr>
                    <th></th>
                    <th>Services Name</th>
                    <th>Qty</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="#">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                      <a href="#" class="float-end">
                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                      </a>
                    </td>
                    <td>Postnatal Ritual</td>
                    <td>3</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="ms-4 mt-4 d-flex">
              <button type="submit" class="lyc-config-btn btn me-3 py-1 px-5" (click)="save()">
                {{isUpdatingValue ? 'Update' : 'Save'}}
              </button>
              <button type="button" class="lyc-config-btn2 btn btn-secondary ms-3 py-1 px-5" (click)="cancel()">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>

</ng-template>