<!-- Side Bar  -->
<div class="lyc-login-side">
  <div class="container d-flex justify-content-center mt-5 py-5">
    <img src="../../../assets/images/logo.png" width="200px" height="auto" alt="" srcset="" />
  </div>
</div>
<!-- Side Bar End -->
<div class="login-main">
  <div class="container">
    <main class="lyc-form-sign">
      <form [formGroup]="loginForm" autocomplete="off">
        <h1 class="fs-1 mb-5">Sign in</h1>
        <p class="fw-normal">login with your user name</p>
        <div class="form-floating mt-2 w-100">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="userName" />
          <label *ngIf="formSubmitted && f.userName.errors?.required" for="floatingInput" class="text-danger">Email
            address required</label>
        </div>
        <div class="form-floating mt-2">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
            formControlName="password" />
          <label *ngIf="formSubmitted && f.password.errors?.required" for="floatingPassword"
            class="text-danger">Password required</label>
        </div>
        <button class="w-100 btn btn-primary lyc-login-btn mt-3" type="submit" (click)="submitt()">
          Sign in
        </button>
      </form>
    </main>
  </div>
</div>